<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <title>My App</title>
</head>
<body>
    <header>
        <div id="img_user">
            <img src="\img\avatar.png">
        </div>
        <div id="welcome">
            Welcome
            <div id="user_name">
                Ronald
            </div>
        </div>
        <div id="quote"></div>
        <div id="date"></div>            
    </header>
    <div id="wrapper_task">
        <div id="summary">
            <h1>Tips for task creation</h1>
                <table>
                    <tr>
                        <td>Use meaningful names</td>
                    </tr>
                    <tr>
                        <td>Keep it simple</td>
                    </tr>
                    <tr>
                        <td>Make everysubtask to be just one thing</td>
                    </tr>
                </table>
            <div id="go_back" style="cursor: pointer;" onclick="window.location='/';">
                <span class="material-symbols-rounded">
                    arrow_back
                    </span>
                <p>Go to Dasboard</p>
            </div>
        </div>
        <div id="display_task">
           
            <div id="title">
                <%=tasks[0].task_name%>
            </div>
            <%for (let j = 0; j < tasks[0].sub_task.length; j++) {%>
            <div class="display_subtask"><%=tasks[0].sub_task[j]%></div>
            <%} %>
        </div>



    </div>
    <script src="\script.js"></script>
</body>
</html>